/*RESET*/
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

img, picture {
  max-width: 100%;
  display: block;
}

a, a:visited, a:hover {
    text-decoration: none;
}

/*VARIABLES*/

/*STYLES*/

h1 {
    padding: 1.25rem;
    text-align: center;
    font-size: 1.5rem;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
    flex-direction: column;
    gap: 1.25rem;
}

button {
    padding: 0.2rem;
}

.grid-container {
    width: 500px;
    height: 500px;
    background-color: grey;
    display: flex;
    flex-direction: column;
}

.rows {
    height: 100%;
    display: flex;
}

.grid-boxes {
    border: 1px solid black;
    height: 100%;
    width: 100%;
}

.new-bgc {
    background-color: coral;
}
